<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nos Débuts</h2>
                    <h3 class="section-subheading text-muted">Nous sommes plus des étudiants.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/unionDigital.png" alt="Naissance Union Digital">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Janvier 2018</h4>
                                    <h4 class="subheading">Une Agence est née</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Union Digital est la réunion de quatre développeurs indépendant et anciens camarades d'école. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/big-fernand.png" alt="Contrat Big Fernand">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Mars 2018</h4>
                                    <h4 class="subheading">Big Fernand </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">En mars 2018, fut un moment exceptionnel pour nous. Après seulement 2 mois après notre création, nous décrochions un contrat avec Big Fernand pour une application web et mobile!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/manomano.jpg" alt="Contrat ManoMano">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Septembre 2018</h4>
                                    <h4 class="subheading">ManoMano</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">En septembre 2018, fut un deuxième moment exceptionnel pour nous. Après le contrat de Big Fernand, nous décrochons un contrat avec ManoMano pour une application web et mobile</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Ajoutez
                                    <br>vous
                                    <br>+</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>