  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>A titre d'information et de transparence, ce site est et cette agence on été créés dans le but de notre projet de fin d'année 2019, dans le cadre de nos études. En conclusion, aucune agence et aucuns services ne sont réels. Toutes les informations référencées sur ce site sont évidemment éronnées.</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
