<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nos Services</h2>
                    <h3 class="section-subheading text-muted">Nous ne vendons pas QUE du rêve.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-user-friends fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Confiance</h4>
                    <p class="text-muted">Soucieux de la réussite de nos client, nous les impliquons au coeur du projet et les sollicitions au quotidien dans un esprit d'échange, afin de livrer des ouvrages qui leurs ressemblent.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-bullseye fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Implications</h4>
                    <p class="text-muted">Nous aimons aussi nous imprégner de nos clients en visitant les locaux, échangeant avec leurs clientèle et nous mettre nous-même à la place de celle-ci pour fournir des interfaces cohérentes et correspondantes à cette dernière, retranscrivant au mieux l'identité de notre client.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-hands-helping fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Assistance</h4>
                    <p class="text-muted">Après livraison du projet, nous continuons de nous impliquer, dans une démarche professionnelle, afin de rester à disposition de nos clients et d'entreprendre un lien de confiance.</p>
                </div>
            </div>
        </div>
    </section>